<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>
<body>
    <header>
        {{!-- <h1>{{header}}</h1> --}}
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li id="logout-link"><a href="#">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
                {{!-- <li><a href="/newreview">Newreviewform</a></li> --}}
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{!-- <p>{{footer}}</p> --}}
    </footer>
    <script src="logout.js"></script>
    {{!-- <script src="/path/to/your/scripts.js"></script> --}}
</body>
</html>