<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{{body}}}
</body>
</html>
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>
<body>
    <header>
        {{!-- <h1>{{header}}</h1> --}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{!-- <p>{{footer}}</p> --}}
    </footer>
    <script src="/path/to/your/scripts.js"></script>
</body>
</html>
>>>>>>> 2505ebd756059f62a0c812914c267e2a9cf1d188
