<div class="post card">
  <h2>Favorite Books</h2>
  {{#each books}}
    <div class="card">
      <h3>{{title}}</h3>
      <p>{{author}}</p>
      <p>{{description}}</p>
      <p>{{image}}</p>
      <p>{{link}}</p>
      <!-- Rounded switch uses css -->
      <label class="switch">
        <input type="checkbox" id="toggleSwitch">
        <span class="slider round"></span>
      </label>
    </div>
  {{/each}}






</div>

<script src="js/addFavorite.js"></script>
