<div>
  <h1>Book Search Page</h1>
  <p>Search for a book here.</p>
  <form id="search-book-form">
    <input type="text" id="search-query" placeholder="Enter book title, author, or topic" />
    <button type="submit" id="search">Search</button>
  </form>
</div>
<p>
  <hr /> {{!-- Hyper Rule --}}
</p>

  <h2>Search Results</h2>
<div id="book-search-results">No Books yet.</div>
<p>
  <hr /> {{!-- Hyper Rule --}}
</p>
<div>
  <h2>Previous Reviews</h2>
</div>

{{#if reviews}}
  {{#each reviews}}
    <div>
      <h2>{{title}}</h2>
      <p>Review by {{user.username}} on {{formatDate createdAt}}</p>
      <p>

        {{body}}
      </p>
    </div>
  {{/each}}
{{else}}
  <p>No reviews found.</p>
{{/if}}

<script src="js/bookSearch.js"></script>
